/* googleapis font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap");

/* tailwind stuff */
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

div {
  display: flex;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

span,
p,
h1,
h2,
h3,
h4,
h5 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nowrap-2-lines {
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

* {
  font-family: "Montserrat Alternates", sans-serif;
  color: var(--text1);

  margin: 0;
  padding: 0;

  box-sizing: border-box;

  user-select: none;
  outline: none;
  text-decoration: none;

  border: none;
}
